---
import Layout from "~/layouts/PageLayout.astro";
import Hero from "~/components/widgets/Hero.astro";

const metadata = { title: "Health Guidelines", description: "Follow AyaSelva's health guidelines: discontinue SSRIs, MAOIs, and antipsychotics 6 weeks prior, avoid red meat, alcohol, and drugs. Suitable for those without schizophrenia, cardiovascular disease, or epilepsy. Ensure emotional stability and set intentions for a transformative experience." };
---

<Layout metadata={metadata}>
	<Hero tagline="Health Guidelines">
		<Fragment slot="title">Health Guidelines<br /> </Fragment>
	</Hero>

	<div class="px-4 sm:px-6 lg:px-8 max-w-5xl mx-auto">
		<section class="my-6">
			<h2 class="text-2xl font-bold mb-4">Medication</h2>
			<p>
				For your safety and to ensure the best possible experience during
				your ayahuasca ceremony, it is essential to follow our medication
				guidelines:
			</p>

			<h3 class="text-xl font-semibold mt-6 mb-2">SSRI Medications</h3>
			<p>
				Participants must not be taking any Selective Serotonin Reuptake
				Inhibitors (SSRIs) at least 6 weeks before arrival. SSRIs can
				interact dangerously with ayahuasca, leading to potentially severe
				health risks.
			</p>

			<h3 class="text-xl font-semibold mt-6 mb-2">MAOI Medications</h3>
			<p>
				Monoamine Oxidase Inhibitors (MAOIs) are also prohibited. MAOIs
				combined with ayahuasca can cause life-threatening side effects,
				including hypertensive crises.
			</p>

			<h3 class="text-xl font-semibold mt-6 mb-2">
				Antipsychotic Medications
			</h3>
			<p>
				Antipsychotic medications must be discontinued at least 6 weeks
				before your arrival. These medications can alter the effects of
				ayahuasca and pose significant health risks.
			</p>

			<p>
				If you are currently taking any of the above medications, it is
				crucial to taper off them gradually under the supervision of a
				medical professional. Abruptly stopping medication can lead to
				withdrawal symptoms and other health complications. If you have any
				questions or concerns about these medication guidelines, please
				contact us. We are here to support you throughout this process.
			</p>
		</section>

		<section class="my-6">
			<h2 class="text-2xl font-bold mb-4">Health considerations</h2>
			<p>
				While ayahuasca has been used for centuries for spiritual and
				healing purposes, it is important to understand that it may not be
				suitable for everyone, especially those with certain medical
				conditions. People with the following diseases cannot participate in
				ayahuasca ceremonies at Ayaselva:
			</p>
			<ul class="list-disc pl-6 mt-4">
				<li>Schizophrenia</li>
				<li>Cardiovascular disease</li>
				<li>Epilepsy</li>
			</ul>
		</section>

		<section class="my-6">
			<h2 class="text-2xl font-bold mb-4">Recreational drugs</h2>
			<p>Recreational drugs are not allowed at Ayaselva.</p>
		</section>

		<section class="my-6">
			<h2 class="text-2xl font-bold mb-4">Preparation upon arrival</h2>
			<p>
				To ensure a safe and transformative experience, we require
				participants to follow specific preparation guidelines:
			</p>

			<h3 class="text-xl font-semibold mt-6 mb-2">Dietary Restrictions:</h3>
			<ul class="list-disc pl-6 mt-4">
				<li>
					Avoid certain foods: For at least one week prior to the ceremony,
					avoid red meat, pork, spicy foods, and overly processed foods.
					Stick to a diet rich in fruits, vegetables, and whole grains.
				</li>
				<li>
					Abstain from alcohol and drugs: Refrain from consuming alcohol
					and recreational drugs, for at least two weeks before arrival.
				</li>
				<li>
					Limit caffeine intake: Reduce or eliminate caffeine consumption
					to help purify your system.
				</li>
			</ul>

			<h3 class="text-xl font-semibold mt-6 mb-2">Sexual Activity:</h3>
			<p>
				Abstain from sexual activity: It is recommended to avoid sexual
				activity, including masturbation, for at least a week before and
				after arrival. This helps conserve your body's energy and maintain
				spiritual focus.
			</p>

			<h3 class="text-xl font-semibold mt-6 mb-2">
				Mental and Emotional Preparation:
			</h3>
			<ul class="list-disc pl-6 mt-4">
				<li>
					Set intentions: Spend time reflecting on your intentions for
					attending our retreat center. Meditate, journal, or engage in
					other practices that help you focus on your goals.
				</li>
				<li>
					Emotional stability: Ensure you are in a stable emotional state
					before participating. If you are experiencing extreme emotional
					distress, it may not be the right time for an ayahuasca retreat.
				</li>
			</ul>
		</section>
	</div>
	<br />
	<br />
</Layout>
