---
import Layout from "~/layouts/PageLayout.astro";
import Content from "~/components/widgets/Content.astro";
import Hero from "~/components/widgets/Hero.astro";

const metadata = {
	title: "Ayaselva Healing Center - Empowering Wellness in the Peruvian Amazon",
	description:
		"Discover AyaSelva Healing Center in the Peruvian Amazon. We balance and preserve sacred plants and traditions, empowering guests to heal from trauma and find wellness in a serene environment.",
};
---

<Layout metadata={metadata}>
	<Hero tagline="The center ">
		<Fragment slot="title">The Center<br /></Fragment>
	</Hero>

	<Content
		id="about"
		columns={2}
		items={[]}
		image={{
			src: "~/assets/images/owners.jpg",
			alt: "Colorful Image",
			loading: "eager",
		}}
	>
		<Fragment slot="content">
			<h2
				class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
			>
				Our Mission..
			</h2>
			<p>
				At AyaSelva, we strive for balance and are deeply committed to the
				principles of sacred medicine. We leverage our expertise and
				understanding to ensure that every visitor receives the utmost care.
				We are dedicated to the preservation of sacred plants and the
				cultural traditions that surround their use.
			</p>
		</Fragment>

		<Fragment slot="bg">
			<div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
		</Fragment>
	</Content>

	<Content
		id="about"
		columns={3}
		isReversed={true}
		items={[]}
		image={{
			src: "~/assets/images/vision.jpg",
			alt: "Colorful Image",
			loading: "eager",
		}}
	>
		<Fragment slot="content">
			<h2
				class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
			>
				Our Vision
			</h2>
			<p>
				Our vision at Ayaselva is to empower our guests, helping them to
				unlock their best selves and find freedom from trauma and other
				ailments. With a fervent passion for progress and an unwavering
				commitment to our guests, we aim to provide impactful experiences
				and share our knowledge with those seeking healing.
			</p>
			<br />
			<p>
				Join us at Ayaselva Healing Center and discover a path to wellness
				in the beauty and tranquillity of the Peruvian Amazon.
			</p>
		</Fragment>

		<Fragment slot="bg">
			<div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
		</Fragment>
	</Content>
</Layout>
