	---
	import { SITE } from 'astrowind:config';
	---

	<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
		<!-- 🚀 {SITE?.name} -->
		<!-- <svg width="160" height="27" viewBox="0 0 57 10" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M4.308 0.599999L7.812 9H6.648C6.78 8.688 6.756 8.364 6.612 8.016L5.904 6.312H2.004L1.368 7.896C1.164 8.412 1.2 8.784 1.308 9H0.576L3.972 0.599999H4.308ZM3.924 1.584L2.124 6.036H5.784L3.924 1.584ZM11.4413 5.064V7.464C11.4413 7.908 11.4893 8.352 11.6213 9H10.5053C10.6373 8.352 10.6973 7.908 10.6973 7.464V5.112L7.78134 0.599999H8.95734C8.94534 0.924 9.07734 1.26 9.26934 1.584L11.2853 4.74L13.0973 1.704C13.3493 1.284 13.4093 0.948 13.3973 0.599999H14.1053L11.4413 5.064ZM17.8666 0.599999L21.3706 9H20.2066C20.3386 8.688 20.3146 8.364 20.1706 8.016L19.4626 6.312H15.5626L14.9266 7.896C14.7226 8.412 14.7586 8.784 14.8666 9H14.1346L17.5306 0.599999H17.8666ZM17.4826 1.584L15.6826 6.036H19.3426L17.4826 1.584ZM25.2755 9.084C23.8715 9.084 22.7555 8.34 22.2755 7.512L22.8635 7.08C23.3315 8.028 24.0995 8.82 25.2755 8.82C26.3555 8.82 27.3155 8.16 27.3155 6.96C27.3155 4.452 22.8635 5.568 22.8635 2.664C22.8635 1.164 24.1355 0.516 25.4075 0.516C26.6075 0.516 27.4235 1.08 27.8795 1.716L27.2675 2.088C26.9795 1.38 26.3675 0.779999 25.4195 0.779999C24.4715 0.779999 23.5595 1.356 23.5595 2.508C23.5595 5.016 28.0235 3.888 28.0235 6.792C28.0235 8.352 26.6795 9.084 25.2755 9.084ZM33.6016 8.736C34.3696 8.736 34.8496 8.58 35.3056 8.388V9H30.1456C30.2896 8.352 30.3376 7.908 30.3376 7.464V2.136C30.3376 1.692 30.2896 1.248 30.1456 0.599999H35.0896V1.212C34.6336 1.02 34.1416 0.864 33.3856 0.864H31.0816V4.44L34.1896 4.38V4.776L31.0816 4.716V8.736H33.6016ZM40.6331 8.736C41.4011 8.736 41.8811 8.58 42.3371 8.388V9H37.1651C37.3091 8.352 37.3571 7.908 37.3571 7.464V2.136C37.3571 1.692 37.3091 1.248 37.1651 0.599999H38.2931C38.1491 1.248 38.1011 1.692 38.1011 2.136V8.736H40.6331ZM48.3266 0.599999H49.0706L45.7586 9H45.4226L41.9666 0.599999H43.1306C42.9866 0.983999 43.0946 1.38 43.2866 1.836L45.8066 7.98L48.1226 2.1C48.3386 1.548 48.4466 1.044 48.3266 0.599999ZM52.9408 0.599999L56.4448 9H55.2808C55.4128 8.688 55.3888 8.364 55.2448 8.016L54.5368 6.312H50.6368L50.0008 7.896C49.7968 8.412 49.8328 8.784 49.9408 9H49.2088L52.6048 0.599999H52.9408ZM52.5568 1.584L50.7568 6.036H54.4168L52.5568 1.584Z" fill="white"/>
			</svg> -->

			<svg
			version="1.1"
			id="svg2"
			width="173"
			height="27"
			viewBox="0 0 128 20"
			sodipodi:docname="logo_geschaald.ai"
			xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
			xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:svg="http://www.w3.org/2000/svg">
		<defs
			id="defs6">
			<clipPath
				clipPathUnits="userSpaceOnUse"
				id="clipPath16">
				<path
					d="M 0,15 H 96 V 0 H 0 Z"
					id="path14" />
			</clipPath>
		</defs>
		<sodipodi:namedview
			id="namedview4"
			pagecolor="#ffffff"
			bordercolor="#000000"
			borderopacity="0.25"
			inkscape:showpageshadow="2"
			inkscape:pageopacity="0.0"
			inkscape:pagecheckerboard="0"
			inkscape:deskcolor="#d1d1d1" />
		<g
			id="g8"
			inkscape:groupmode="layer"
			inkscape:label="logo_geschaald"
			transform="matrix(1.3333333,0,0,-1.3333333,0,20)">
			<g
				id="g10">
				<g
					id="g12"
					clip-path="url(#clipPath16)">
				<g
					id="g18"
					transform="translate(2.8245,5.4928)">
					<path
						d="M 0,0 H 5.944 L 2.923,7.23 Z m 9.237,-4.813 h -1.89 c 0.214,0.506 0.175,1.032 -0.059,1.598 L 6.139,-0.448 H -0.195 L -1.228,-3.021 C -1.559,-3.859 -1.501,-4.463 -1.325,-4.813 H -2.514 L 3.001,8.828 h 0.546 z"
						style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
						id="path20" />
				</g>
				<g
					id="g22"
					transform="translate(17.9471,3.1738)">
					<path
						d="M 0,0 C 0,-0.721 0.078,-1.442 0.292,-2.494 H -1.52 c 0.214,1.052 0.312,1.773 0.312,2.494 v 3.82 l -4.736,7.327 h 1.91 c -0.019,-0.526 0.195,-1.072 0.507,-1.598 l 3.274,-5.125 2.942,4.93 c 0.41,0.682 0.507,1.228 0.487,1.793 h 1.15 L 0,3.898 Z"
						style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
						id="path24" />
				</g>
				<g
					id="g26"
					transform="translate(24.8266,5.4928)">
					<path
						d="M 0,0 H 5.944 L 2.923,7.23 Z m 9.237,-4.813 h -1.89 c 0.214,0.506 0.175,1.032 -0.059,1.598 L 6.139,-0.448 H -0.195 L -1.228,-3.021 C -1.559,-3.859 -1.501,-4.463 -1.325,-4.813 H -2.514 L 3.001,8.828 h 0.546 z"
						style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
						id="path28" />
				</g>
				<g
					id="g30"
					transform="translate(35.5253,3.0959)">
					<path
						d="m 0,0 0.955,0.702 c 0.76,-1.54 2.007,-2.826 3.917,-2.826 1.754,0 3.313,1.072 3.313,3.02 0,4.073 -7.23,2.261 -7.23,6.977 0,2.436 2.066,3.488 4.131,3.488 1.949,0 3.274,-0.916 4.015,-1.949 L 8.107,8.808 c -0.468,1.15 -1.462,2.124 -3.001,2.124 -1.54,0 -3.021,-0.935 -3.021,-2.806 0,-4.073 7.249,-2.241 7.249,-6.957 0,-2.533 -2.182,-3.722 -4.462,-3.722 C 2.592,-2.553 0.779,-1.345 0,0"
						style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
						id="path32" />
				</g>
				<g
					id="g34"
					transform="translate(56.6889,1.6732)">
					<path
						d="m 0,0 v -0.994 h -8.38 c 0.234,1.053 0.312,1.774 0.312,2.495 v 8.652 c 0,0.721 -0.078,1.442 -0.312,2.494 h 8.029 v -0.993 c -0.74,0.311 -1.539,0.565 -2.767,0.565 H -6.86 V 6.411 l 5.048,0.098 V 5.866 L -6.86,5.963 v -6.528 h 4.093 C -1.52,-0.565 -0.74,-0.312 0,0"
						style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
						id="path36" />
				</g>
				<g
					id="g38"
					transform="translate(68.1086,1.6732)">
					<path
						d="m 0,0 v -0.994 h -8.399 c 0.234,1.053 0.312,1.774 0.312,2.495 v 8.652 c 0,0.721 -0.078,1.442 -0.312,2.494 h 1.832 C -6.801,11.595 -6.879,10.874 -6.879,10.153 V -0.565 h 4.112 C -1.52,-0.565 -0.74,-0.312 0,0"
						style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
						id="path40" />
				</g>
				<g
					id="g42"
					transform="translate(79.0413,14.3206)">
					<path
						d="M 0,0 -5.379,-13.641 H -5.924 L -11.537,0 h 1.891 c -0.234,-0.624 -0.059,-1.267 0.253,-2.007 l 4.092,-9.978 3.762,9.549 c 0.35,0.896 0.526,1.715 0.331,2.436 z"
						style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
						id="path44" />
				</g>
				<g
					id="g46"
					transform="translate(85.3004,4.7219)">
					<path
						d="m 0,0 c -1.733,-0.245 -3.041,0.454 -3.525,0.767 0,0.001 10e-4,0.003 10e-4,0.004 h -0.007 l 2.923,7.23 2.976,-7.122 C 1.999,0.655 1.612,0.461 1.207,0.31 0.817,0.164 0.412,0.058 0,0 M 10.366,9.322 C 10.363,9.354 10.301,9.627 10.322,9.647 10.028,9.358 9.573,9.225 9.188,9.115 8.82,9.011 8.442,8.945 8.066,8.88 7.717,8.819 7.342,8.784 7.02,8.631 6.491,8.382 6.101,7.905 5.892,7.366 5.798,7.122 5.739,6.864 5.718,6.604 5.679,6.111 5.737,5.589 5.896,5.119 c 0,0 1.419,1.743 2.634,2.235 C 8.185,7.022 7.846,6.683 7.513,6.339 7.268,6.086 7.026,5.83 6.795,5.566 6.142,4.822 5.627,3.968 4.989,3.211 4.494,2.623 3.955,2.07 3.359,1.584 L 0.016,9.599 H -0.53 L -6.045,-4.043 h 1.189 c -0.175,0.351 -0.234,0.955 0.098,1.793 l 0.99,2.468 c 0.516,-0.323 1.591,-0.861 3.03,-0.861 0.258,0 0.528,0.017 0.808,0.056 0.856,0.119 1.697,0.423 2.52,0.91 h 0.018 l 1.15,-2.767 C 3.991,-3.01 4.031,-3.536 3.816,-4.043 h 1.89 L 3.596,1.016 C 4.595,1.805 5.564,2.872 6.495,4.213 L 6.631,4.39 C 6.695,4.354 6.76,4.314 6.786,4.303 7.248,4.115 7.736,4.005 8.233,4.116 c 1.197,0.269 1.576,1.459 1.853,2.509 0.152,0.58 0.256,1.174 0.291,1.774 0.017,0.307 0.018,0.616 -0.011,0.923"
						style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
						id="path48" />
				</g>
				</g>
			</g>
		</g>
		</svg>
		

	</span>
